html {
	width: 100%;
	height: 100%;
}

body {
	/*how do I get rid of the margin?*/
	background-color: #CCCDEB;
	width: 100%;
	height: 100%;
}


.fixedHeader {								/*add Menu options to this*/
	background-color: rgb(19,27,108);
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	z-index: 100;
}

.beachImage {
	background-image: url(images/beach.jpg); 
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	position: relative;
}												/*I want no margin between images*/

.name {	
	/*position: absolute;	*/		/*center the text*/
	text-align: center;
	color: orange;
	font-size: 30px;
	font-family: helvetica;
	padding-top: 20px;

}

.selfie {
	background-image: url(images/selfie.jpg);
	background-size: cover;
	background-color: #CCCDEB;			/*	center this, and add an image within the circle*/
	border-radius: 50%;
	height: 200px;
	width: 200px;
	margin: 0px auto;
}

.about {
	text-align: left;
	color: white;
	font-size: 20px;
	font-family: helvetica;
}



.michigan {
	background-image: url(images/michigan.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.education {
	text-align: left;
	color: white;
	font-size: 20px;
	font-family: helvetica;
}





